from selenium import webdriver
from datetime import datetime, timedelta
from twilio.rest import Client

#Configuração da conta Twilio
account_sid = 'AC667a128e3d0026c3ba1f900f1dbc9b1c'
auth_token = '[AuthToken]'
client = Client(account_sid, auth_token)
twilio_phone_number = 'whatsapp:+14155238886', # Número que vai receber a mensagem
your_phone_number = 'whatsapp: +5541984070888' # Meu número de telefone

# Abre um navegador do Chrome e faz login no sistema de gerenciamento de tarefas
browser = webdriver.Chrome()
browser.get('https://trello.com/invite/b/9w27gdX4/ATTI63a7ff9122113db35945b5b211daf867A898DBDF/gestao-de-projetos')
# faça login na sua conta

# Solicitação dos usuários para que insiram os detalhes da tarefa
task_name = input("Insira o nome da tarefa: ")
deadline_str = input("Insira o prazo final (yyyy-mm-dd): ")
deadline_date = datetime.strptime(deadline_str, '%Y-%m-%d')
max_deadline = int(input("Insira o máximo de dias (in days): "))

# Cria uma nova tarefa
# Use os recursos de automação da Web do Selenium para preencher o formulário de detalhes da tarefa

# Calcula o numero de dias até o prazo final e manda mensagem no Whatsapp
dias_prazofinal = (deadline_date - datetime.now()).days

# Se faltar um dia para o prazo, envia uma mensagem
if dias_prazofinal == 1:
    client = Client(account_sid, auth_token)
    message_body = f'Lembra do {task_name}? o prazo é até AMANHÃ!!!'
    message = client.messages.create(body=message_body, from_=twilio_phone_number, to=your_phone_number)
